.App {
  padding: 16px;
}

.logo-list {
  margin: 8px 0;
}

.logo {
  height: 24px;
  padding: 8px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 8px #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 8px #61dafbaa);
}

.heading {
  margin: 16px 0;
  line-height: 2.5;
  border-bottom: thin solid #ccc;
}

.playground {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 8px 0;
}

.container {
  min-height: 64px;
  margin: 0 8px 16px;
}

.label {
  padding: 4px;
  color: #000;
  background: #ccc;
  border-radius: 4px;
}

.content {
  padding: 8px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
